.Name {
  display: flex;
  border-bottom: solid 1px lightgrey;
  width: 50%;
  margin-left: 25%;
  padding: 10px;
  .Name__image {
    margin-left: 20%;
  }
  .Name__info {
    margin-left: 50px;
  }
}
